@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap');

/* Root Variables */
:root {
  --primary-color: #063547;
  --secondary-color: #44b89d;
}

/* General Settings */
html,
body {
  font-family: 'Mulish', sans-serif;
}

a {
  text-decoration: none;
}

/* Custom Settings */
.full-section-height {
  min-height: calc(100vh - 130px);
  display: flex;
  align-items: center;
}

.form-control {
  border-radius: 25px;
  height: 48px;
}

.form-control:focus {
  box-shadow: none !important;
}

.btn-primary {
  border-radius: 25px;
  height: 48px;
  background-color: var(--secondary-color) !important;
  border: 1px solid var(--secondary-color) !important;
}

.btn-primary:hover {
  background-color: #fff !important;
  color: var(--secondary-color) !important;
  transition: all 0.3s ease;
}
